/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
/vendor/*
!/vendor/friendsofsymfony/
!/vendor/tattali
/var/cache/*
!var/cache/.gitkeep
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
!/vendor/friendsofsymfony/Ressources/views/Security/login.html.twig
!/vendor/friendsofsymfony/Ressources/views/Security/login_content.html.twig
.idea